/********************************************小米官网首页制作*****************************************/
/*banner开始*/
.banner{
    height: 120px;
    width: 100%;
}
.banner a{
    height: 120px;
    display: block;
    background: url("../img/banner.jpg")no-repeat center 0;
}
/*banner结束*/
/***********************************************/
/*竖直二级菜单&轮播图开始*/
.vertical{
    width: 1226px;
    margin: 0 auto;
    height: 460px;
    background: yellow;
}
.vertical .ver-mainmenu{
    width: 234px;
    height: 420px;
    background: rgba(0,0,0,0.6);
    padding: 20px 0;
    position: relative;
}
.vertical .ver-mainmenu .ver-mainoption > a{
    height: 42px;
    display: block;
    line-height: 42px;
    padding-left: 30px;
    color: #ffffff;
}