/* css reset*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/*nav-1*/
/*main-nav开始*/
.nav-1{
    background: #333333;
    height:40px;
}
.nav-1 .main-nav{
    float: left;
}
.nav-1 .main-nav li{
    float: left;
}
.nav-1 .main-nav li a{
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
    margin: 0 .5em;
}
.nav-1 .main-nav li span{
    color: #424242;
}
.nav-1 .main-nav li a:hover{
    color: white;
}
/*main-nav结束*/
/*cart开始*/
.nav-1 .cart {
    float: right;
    width: 120px;
    height: 40px;
    background: #424242;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.nav-1 .cart a {
    color: #b0b0b0;
    font-size: 12px;
    height: 100%;
    width: 100%;
    display: block;
}
.nav-1 .cart a:hover{
    color: #ff6700;
    background: #ffffff;
}
.nav-1 .cart .cart-box{
    width: 316px;
    height: 0px;
    position: absolute;
    top:40px;
    right: 0px;
    color: #424242;
    font-size: 12px;
    line-height: 100px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);/*边框1水平2竖直3模糊度4外延值5颜色6内外阴影*/
    overflow: hidden;/*避免动画效果中文字部分溢出*/
    display: none;
}
.nav-1 .cart:hover .cart-box{
    display: block;
    animation:show 0.2s ease-in  forwards;/*1名字2执行时间3运动方式（由慢变快)(4延迟)5循环次数*/
}
@keyframes show {
    100%{height: 100px}
}
/*cart结束*/
/*user-info开始*/
.nav-1 .user-info{
    float: right;
}
.nav-1 .user-info li{
    float: left;
}
.nav-1 .user-info li a{
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
    margin: 0 .5em;
}
.nav-1 .user-info li span{
    color: #424242;
}
.nav-1 .user-info li a:hover{
    color: white;
}
/*user-info结束*/
/*nav-1结束*/



/*header开始*/
.header {
    background: burlywood;
    height: 100px;
}
/*logo开始*/
.header .logo{
    float: left;
    margin-top: 22px;
}
.header .logo .link-logo {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url("../img/mi-logo.png") no-repeat center center;
}
/*logo结束*/
/*nav-header开始*/
.header .nav-header{
    float: left;
    margin-left: 12px;
}
.header .nav-header .block-nav{
    width: 165px;
    height: 100px;
    float: left;
}
.header .nav-header .block-nav a{
    width: 100%;
    height: 100%;
    display: block;
    background: url("../img/红米note5预约.gif");
}
.header .nav-header .main-nav{
    float: left;
    height: 100px;
    line-height: 88px;
}
.header .nav-header .main-nav a{
    color: #333333;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 10px;
}
.header .nav-header .main-nav a:hover{
    color:#ff6700;
}
/*nav-header结束*/
/*search开始*/
.header .search{
    float: right;
    width: 223px;
    height: 48px;
    border:1px solid #e0e0e0;
    margin-top: 25px;
    font-size: 16px;
}














/*header结束*/